@import 'styles/variables.module';

.screenLoader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: $background-primary;
}

.loader {
  color: $button-color;
  margin-bottom: 100px;
}
