@import 'styles/variables.module';

.socials {

}

.label {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.logins {
  background-color: $background-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 25px;
  border-radius: 20px;
}